<header class="main-header">
	<div class="logo">
		<a href="{{ '/' | relative_url }}">
			<img src="{{ '/assets/simmerlogo.png' | relative_url }}" alt="Simmer Logo" class="logo-image" style="width: 220px;">
		</a>
	</div>
	<nav class="main-nav">
		<ul>
			<li><a href="{{ '/#pricing' | relative_url }}">Pricing</a></li>
			<li><a href="{{ '/changelog' | relative_url }}">Updates</a></li>
			<li><a href="{{ '/support' | relative_url }}">Support</a></li>
			<li><a href="https://apps.shopify.com/simmer" class="btn btn-primary"><span>Get Started</span></a></li>
		</ul>
	</nav>
</header>
